* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  outline: none;
}

body {
  background-color: #f2f2f2;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
  color: #fff;
}

li,
a,
button {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
}

hr {
  border: dotted black 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.navigation {
  font-family: "Montserrat", sans-serif;
  display: flex;
  background-color: #171718;
  color: #edeff3;
  height: auto;
  justify-content: end;
  align-items: center;
  padding: 0 8%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
}

ul {
  list-style: none;
}

.nav_links {
  display: inline-block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.6s;
}

.nav_links:hover {
  color: rgb(120, 123, 121);
}
.ref {
  text-decoration: solid;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  margin-right: auto;
}

/* Introduction Section */

#Introduction {
  background-image: url("Images/port.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Intro-Name {
  font-size: 3rem;
  text-align: center;
  padding-top: 20%;
}
.links ul {
  position: absolute;
  margin-top: 5%;
  margin-left: 46%;
  transform: translate(-50%, -50%);
  display: flex;
}
.links ul li {
  list-style: none;
  margin: 0 12%;
}

.links ul li .yo {
  font-size: 30px;
  transition: 0.6s;
}
.links ul li .yo:hover {
  transform: translate(0, -10px);
}

.links ul li:nth-child(2) .yo:hover {
  color: #1da1f2;
}
.links ul li:nth-child(3) .yo:hover {
  color: #0a66c2;
}
.links ul li:nth-child(4) .yo:hover {
  color: #fbbc05;
}

.yo {
  padding-top: 10%;
  padding-left: 5%;
}
.yo:hover {
  color: black;
}

@media (max-width: 700px) {
  .navigation {
    flex-direction: column;
    justify-content: center;
    position: static;
  }

  .nav_links {
    font-size: 1rem;
  }

  a {
    display: block;
  }

  .ref {
    font-size: 2rem;
    margin: 10px auto 0 auto;
  }

  #Introduction {
    background-image: none;
    background-color: #181919;
  }

  nav,
  ul,
  li {
    display: block;
  }
  .Intro-Name {
    font-size: 2rem;
    margin: auto;
  }
  .menu {
    flex-direction: column;
  }
  .navigation li {
    padding: 10px 20px 20px 0;
  }
  .links ul {
    margin-left: 40%;
  }
}

/* ABOUT ME SECTION */

#About-Me {
  padding-top: 5%;
}

.About-Name {
  font-size: 4rem;
  color: #181919;
}
.About-Subtitle {
  font-size: 1rem;
  color: #353737;
}

.about-container {
  display: flex;
}
.About-Image {
  height: 370px;
  width: 370px;
  border-radius: 10%;
  margin: 5% 5% 2% 20%;
}
.About-Data {
  font-size: 1.2rem;
  text-align: left;
  margin: 5% 10% 2% 5%;
}

@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
  }
  .About-Image {
    margin: 5% auto;
  }
  .About-Data {
    text-align: center;
  }
}

/* Skill Section */

.skill-row {
  margin: 5% auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ho {
  cursor: pointer;
  transition: 0.6s;
}
.ho:hover {
  transform: translate(0, -10px);
}
.ho1:hover {
  color: #e34c26;
}
.ho2:hover {
  color: #2965f1;
}
.ho3:hover {
  color: #f0db4f;
}
.ho4:hover {
  color: #563d7c;
}
.items {
  margin: 10px;
  font-size: 10rem;
}
@media (max-width: 500px) {
  .items {
    height: 200px;
    width: 250px;
  }
}

/* Project Section */
.project-container {
  display: flex;
}
.project-container2 {
  display: flex;
}

.Project-Image {
  height: 300px;
  color: #fff;
  border-radius: 10%;
  margin: 5% 2.5% 5% 10%;
}

.project-heading {
  color: #454444;
  font-size: 3rem;
  margin-bottom: 10%;
}

.project-data {
  text-align: left;
  font-size: 1.2rem;
  margin: 5% 10% 2% 5%;
  color: #575959;
}

.Project-btn {
  font-size: 1.2rem;
  cursor: pointer;
  height: 50px;
  width: 150px;
  margin-top: 15%;
  color: #181919;
  border-radius: 20px;
  background-color: #f2f2f2;
  border: 2px solid black;
  font-family: "Oswald", sans-serif;
  transition: 00.6s;
}

.Project-btn:hover {
  color: #f2f2f2;
  background-color: #2c2d2d;
}

.second {
  margin: 5% 2.5% 5% 10%;
}
.Project-Image2 {
  height: 300px;
  color: #fff;
  border-radius: 10%;
  margin: 5% 10% 5% 2.5%;
}

@media (max-width: 950px) {
  .project-container {
    flex-direction: column;
  }
  .project-container2 {
    flex-direction: column-reverse;
  }
  .Project-Image {
    width: 370px;
    margin: 5% auto;
  }
  .project-heading {
    font-size: 2rem;
  }
  .project-data {
    font-size: 1rem;
    margin: auto 5%;
    text-align: center;
  }
  .Project-Image2 {
    width: 370px;
    margin: 5% auto;
  }
}

#footer {
  background-image: url("Images/footer.jpg");
  background-size: cover;
  font-size: 3rem;
  padding-top: 5%;
  margin-top: 5%;
  text-align: center;
  font-family: "Caveat", cursive;
}
#footer .About-Name {
  color: #f2f2f2;
}
#footer .About-subtitle {
  font-size: 1.5rem;
  color: #d7d0d0;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  padding: 5%;
  font-size: 1.8rem;
  text-align: center;
}
.foo {
  margin: 0 10px;
  cursor: pointer;
  transition: 0.6s;
}
.foo:hover {
  transform: translate(0, -10px);
}
.foo1:hover {
  color: #fbbc05;
}
.foo2:hover {
  color: #0a66c2;
}
.foo3:hover {
  color: #1da1f2;
}
.foo4:hover {
  color: #333;
}
.copy {
  font-size: 1rem;
  height: 60px;
  padding: 15px 0;
  font-family: "Montserrat", sans-serif;
  background-color: #181919;
}

.gotobtn {
  position: fixed;
  width: 35px;
  height: 35px;
  background: none;
  bottom: 40px;
  right: 50px;

  border-radius: 10px;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  color: #d2c2d3;
  font-size: 1.2rem;
}
