* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
  color: #fff;
}

li,
a,
button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5% 10px 10%;
}
hr {
  border: dotted black 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.menu {
  display: flex;
}
.ref {
  cursor: pointer;
}

ul {
  list-style: none;
}

.navigation li {
  float: left;
  padding: 10px 20px 20px 0;
}

.navigation :hover {
  color: aquamarine;
}

/* Introduction Section */

#Introduction {
  /* display: flex; */
  background-image: url("port.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Intro-Name {
  font-size: 3rem;
  text-align: center;
  margin-top: 10%;
}
.links ul {
  position: absolute;
  margin-top: 5%;
  margin-left: 45%;
  transform: translate(-50%, -50%);
  display: flex;
}
.links ul li {
  list-style: none;
  margin: 0 12%;
}

.links ul li .yo {
  font-size: 30px;
  transition: 0.6s;
}
.links ul li .yo:hover {
  transform: translate(0, -10px);
}

.links ul li:nth-child(2) .yo:hover {
  color: #1da1f2;
}
.links ul li:nth-child(3) .yo:hover {
  color: #fb3958;
}
.links ul li:nth-child(4) .yo:hover {
  color: #fbbc05;
}

.yo {
  padding-top: 10%;
  padding-left: 5%;
}
.yo:hover {
  color: black;
}

@media (max-width: 700px) {
  #Introduction {
    background-image: none;
    background-color: #181919;
  }

  header {
    flex-direction: column;
    justify-content: center;
  }

  nav,
  ul,
  li {
    display: block;
  }
  .Intro-Name {
    font-size: 2rem;
    margin: 5%auto;
  }
  .menu {
    flex-direction: column;
  }
  .navigation li {
    padding: 10px 20px 20px 0;
  }
  .links ul {
    margin-left: 40%;
  }
}

/* ABOUT ME SECTION */

#About-Me {
  padding-top: 5%;
}

.About-Name {
  font-size: 4rem;
  color: #181919;
}
.About-Subtitle {
  font-size: 1rem;
  color: #353737;
}

.about-container {
  display: flex;
}
.About-Image {
  height: 370px;
  width: 370px;
  border-radius: 10%;
  margin: 5% 5% 2% 20%;
}
.About-Data {
  font-size: 1.2rem;
  text-align: left;
  margin: 5% 10% 2% 5%;
}

@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
  }
  .About-Image {
    margin: 5% auto;
  }
  .About-Data {
    text-align: center;
  }
}

/* Skill Section */

.skill-row {
  margin: 5% auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.items {
  height: 150px;
  width: 250px;
  margin: 10px;
  background-color: #353737;
}
